nav{
    padding-right: 10px;
    margin-right: 10px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:bisque;
}

img{
    width: 80px;
    height: 100px;
    border: 2px;
    border-style: solid;
    border-color: brown;
}

aside {
    margin-bottom: 50px;
    float: right;
    background-color: lightgray;
}
