nav{
    padding-right: 10px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

img{
    width: 350px;
    height: 370px;
    border: 2px solid black;
    border-radius: 50%;
}

aside {
    margin-right: 50px;
    float: right;
    
}
